Only Tweet -flows.json
[{"id":"140248e5.c8f0a7","type":"tab","label":"twiiterで解答","disabled":false,"info":""},{"id":"350344c3.6c526c","type":"twitter in","z":"140248e5.c8f0a7","twitter":"","tags":"#AI #Satellite #Analyze","user":"false","name":"Get tweets","inputs":1,"x":210,"y":111,"wires":[["1663109b.05286f"]]},{"id":"6e6dbc37.102f64","type":"change","z":"140248e5.c8f0a7","name":"URL to msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.entities.media[0].media_url_https","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":195,"wires":[["70c9ef05.325ab"]]},{"id":"1663109b.05286f","type":"switch","z":"140248e5.c8f0a7","name":"Tweet with image only filter","property":"tweet.entities.media","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":412,"y":154,"wires":[["6e6dbc37.102f64"]]},{"id":"59451243.3dc0bc","type":"twitter out","z":"140248e5.c8f0a7","twitter":"","name":"Tweet sentence send","x":696,"y":382,"wires":[]},{"id":"eb0fd748.68d448","type":"template","z":"140248e5.c8f0a7","name":"Tweet sentence creation","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The AI judgment is\nJudgment Result:#{{payload.class}}\nJudgment Score:#{{payload.score}}\n#AI #Satellite #Analyze Result\nhttps://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}} ","output":"str","x":447,"y":426,"wires":[["59451243.3dc0bc","b524543a.25e628"]]},{"id":"1997d358.a106ad","type":"debug","z":"140248e5.c8f0a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":407,"y":485,"wires":[]},{"id":"70c9ef05.325ab","type":"function","z":"140248e5.c8f0a7","name":"Custom ID","func":"msg.params = {};\nmsg.params.classifier_ids = \"SatellitePhoto_694197050\";\nmsg.params.threshold = \"0.2\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":282,"wires":[["65049019.502d6"]]},{"id":"65049019.502d6","type":"visual-recognition-v3","z":"140248e5.c8f0a7","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":369,"y":304,"wires":[["cccd15b2.33f388"]]},{"id":"cccd15b2.33f388","type":"function","z":"140248e5.c8f0a7","name":"","func":"var result = msg[\"result\"];\nmsg.payload = [];\nif (\"images\" in result && result.images.length > 0){\n    image = result.images[0]\n    if (\"classifiers\" in image && image.classifiers.length > 0){\n        classifier = image.classifiers[0]\n        if (\"classes\" in classifier && classifier[\"classes\"].length > 0){\n            msg.payload = classifier[\"classes\"][0]\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":198,"y":408,"wires":[["eb0fd748.68d448","1997d358.a106ad"]]},{"id":"b524543a.25e628","type":"debug","z":"140248e5.c8f0a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":675,"y":461,"wires":[]},{"id":"5c40064b.f6b628","type":"delay","z":"140248e5.c8f0a7","name":"twitter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":70,"y":80,"wires":[["350344c3.6c526c"]]},{"id":"39a36da2.54f372","type":"comment","z":"140248e5.c8f0a7","name":"Judgment","info":"","x":130,"y":214,"wires":[]},{"id":"a1ccc188.bd647","type":"comment","z":"140248e5.c8f0a7","name":"Check every 10 seconds","info":"","x":129,"y":37,"wires":[]},{"id":"b36e9ca2.b8564","type":"comment","z":"140248e5.c8f0a7","name":"Tweet send","info":"","x":152.5,"y":347,"wires":[]}]